@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<Calendar.Models.Patient>

@{
    ViewData["Title"] = "Index";
}
<section class="calendar-section">
    <h1>All Patients</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Reason for Treatment</th>
                <th>Edit/Details</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.DateOfBirth.ToString("MMM dd, yyyy")
                    </td>
                    <td>
                        @item.ReasonForVisit
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-lg fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-lg fa-info-circle"></i></a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-lg fa-trash-alt"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col h3">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>

    <div class="row">
        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { id = @Model.FirstOrDefault()?.Id, page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            }

          )
        </div>
    </div>
</section>