@model Calendar.Models.ViewModels.EventDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<section class="calendar-section">

    <div class="col-xl-8 col-md-12 col-lg-12 mx-auto">
        <div class="card">
            <div class="card-header  border-0">
                <div class="card-title">Appointment Details</div>
            </div>
            <div class="card-body pt-2 pl-3 pr-3">
                <div class="text-center">
                    <div class="pro-user mt-3">
                        <h1>@Model.Patient.FullName</h1>
                        <a asp-action="Details" asp-controller="Patients" asp-route-id="@Model.Event.PatientId" class="chart-link"><h5><strong>Go to Patient Chart</strong></h5></a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table appt-table">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="w-50"><strong>Appointment Date</strong></span>
                                </td>
                                <td>:</td>
                                <td class="appt-details">
                                    <span class="badge">@Model.Event.Date.ToString("MMM dd, yyyy")</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="w-50"><strong>Start Time:</strong></span>
                                </td>
                                <td>:</td>
                                <td class="appt-details">
                                    <span class="badge">@Model.Event.Start.ToString("hh:mm tt")</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="w-50"><strong>End Time</strong></span>
                                </td>
                                <td>:</td>
                                <td class="appt-details">
                                    <span class="badge">@Model.Event.End.ToString("hh:mm tt")</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="w-50"><strong>Appointment Type</strong></span>
                                </td>
                                <td>:</td>
                                <td class="appt-details">
                                    @{
                                        string Type = Model.Event.Type;
                                    }
                                    @if (Type == "0")
                                    {
                                        <span class="badgey">Initial Evaluation</span>
                                    }
                                    else
                                    {
                                        <span class="badge">Follow-Up</span>
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="w-50"><strong>Description</strong></span>
                                </td>
                                <td>:</td>
                                <td class="appt-details">
                                    <span class="badge">@Model.Event.Description</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="text-center">
                        <a class="btn btn-success m-3" asp-action="Details" asp-controller="Patients" asp-route-id="@Model.Event.PatientId">View Patient Chart</a>
                        <a class="btn btn-secondary m-3" asp-action="Edit" asp-route-id="@Model.Event.Id">Edit Appointment</a>
                        <a class="btn btn-danger m-3" asp-action="Delete" asp-route-id="@Model.Event.Id">Delete Appointment</a>
                        <a class="btn btn-primary m-3" asp-action="Index" asp-controller="Home">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>