@model Calendar.Models.ViewModels.EventDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<section class="calendar-section">
            <div class="card pl-5 pr-5 pb-5 shadow">
                <p class="card-body pl-5 pr-5 pb-5">
                    <h1 class="mb-4 font-weight-semibold">@Model.Patient.FullName</h1>
                    <a asp-action="Details" asp-controller="Patients" asp-route-id="@Model.Event.PatientId" class="btn btn-primary">Go to this Patient's Chart</a>
                    <h4>@Model.Event.Date.ToString("MMM dd, yyyy")</h4>
                    <small>Start time: @Model.Event.Start.ToString("HH:mm")</small>
                    <small>End time: @Model.Event.End.ToString("HH:mm")</small>
                    <br />
                <p><strong>Visit Type:</strong></p>
                @{
                    string Type = Model.Event.Type;
                }
                @if (Type == "0")
                {
                    <p>
                        Initial Evaluation
                    </p>
                }
                else
                {
                    <p>
                        Follow-Up
                    </p>
                }
                <p><strong>Description:</strong></p>
                <p>@Model.Event.Description</p>

                <div>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Event.Id">Edit</a>
                    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Home">Back</a>
                </div>
            </div>
        </section>