@model Calendar.Models.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- App-content opened -->
<div class="main-content">
        <!--Page header-->
        <div class="page-header d-lg-flex d-block">
            <div class="page-leftheader">
                <div class="row">
                    <div class="col-6">
                        <img src="https://i.ibb.co/GW3wrG1/activePt.png" alt="activePt" border="0">
                    </div>
                </div>
                
                
            </div>
            <div class="page-rightheader ml-md-auto mt-5">
                <div class=" btn-list">
                    <a class="btn btn-primary" asp-action="Index" asp-controller="Patients">
                        All Patients <i class="feather feather-home sidemenu_icon"></i>
                    </a>
                     <a class="btn btn-success" asp-action="Create" asp-controller="Patients">
                        Add Patient <i class="fas fa-user-plus sidemenu_icon"></i>
                    </a>
                    <a id="eventBtn" class="btn btn-info" asp-action="Create" asp-controller="Events">
                        Add New Appointment <i class="fas fa-lg fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End Page header-->
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div> 
</div>
    <!-- end app-content-->
<!--Add Event Modal-->
<div class="modal" id="addEvent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" asp-controller="Events">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Event.Name" class="control-label"></label>
                        <input asp-for="@Model.Event.Name" class="form-control" />
                        <span asp-validation-for="@Model.Event.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Event.Type" class="control-label"></label>
                        <input asp-for="@Model.Event.Type" class="form-control" />
                        <span asp-validation-for="@Model.Event.Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Event.Description" class="control-label"></label>
                        <input asp-for="@Model.Event.Description" class="form-control" />
                        <span asp-validation-for="@Model.Event.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Event.Date" class="control-label"></label>
                        <input asp-for="@Model.Event.Date" class="form-control" />
                        <span asp-validation-for="@Model.Event.Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Event.Start" class="control-label"></label>J
                        <input asp-for="@Model.Event.Start" class="form-control" />
                        <span asp-validation-for="@Model.Event.Start" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Event.End" class="control-label"></label>
                        <input asp-for="@Model.Event.End" class="form-control" />
                        <span asp-validation-for="@Model.Event.End" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" id="submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="detailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body details-modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<script src="~/assets/plugins/jquery/jquery.min.js"></script>*@
    <script type="text/javascript">
       
        $.ajax({
            type: "POST",
            url: "/Home/CalendarData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    eventClick: function (info) {
                        var eventObj = info.event;
                        if (eventObj.start) {
                            window.location.href = `/Events/Details/${eventObj.id}`
                        }
                    },
                    initialView: 'timeGridWeek',
                    eventOverlap: false,
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    events: result,
                    editable: true,

                });

                calendar.render();
            },
            failure: function (result) {
                alert(result.d);
            },
            error: function (result) {
                alert(result.d);
            }
        });

    </script>
}